<a href="https://colab.research.google.com/github/anjana-reddy/ML-projectss/blob/main/ML_Dealing_with_missing_values_using_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [ ]:
df = pd.read_csv('/content/dataset_2.data', names = headers)

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.replace("?", np.nan, inplace = True)
df.head(5)

In [ ]:
missing_data = df.isnull()
missing_data

In [ ]:
for column in headers:
    print(column)
    print (missing_data[column].value_counts())
    print("")

In [ ]:
avg_norm_loss = df["normalized-losses"].astype('float').mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

In [ ]:
df["normalized-losses"].replace(np.nan, avg_norm_loss,inplace = True)

In [ ]:
avg_bore=df['bore'].astype('float').mean(axis=0)
print("Average of bore:", avg_bore)

In [ ]:
df["bore"].replace(np.nan, avg_bore,inplace = True)

In [ ]:
avg_bore=df['stroke'].astype('float').mean(axis=0)
print("Average of stroke:", avg_bore)

In [ ]:
df["stroke"].replace(np.nan, avg_bore, inplace=True)

In [ ]:
avg_horsepower = df['horsepower'].astype('float').mean(axis=0)
print("Average horsepower:", avg_horsepower)

In [ ]:
df['horsepower'].replace(np.nan, avg_horsepower, inplace=True)

In [ ]:
avg_peakrpm=df['peak-rpm'].astype('float').mean(axis=0)
print("Average peak rpm:", avg_peakrpm)

In [ ]:
df['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True)

In [ ]:
df['num-of-doors'].value_counts()

In [ ]:
df['num-of-doors'].value_counts().idxmax()

In [ ]:
#replace the missing 'num-of-doors' values by the most frequent
df["num-of-doors"].replace(np.nan, "four", inplace=True)

In [ ]:
# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [ ]:
missing_data = df.isnull()
missing_data.head(5)

for column in headers:
    print(column)
    print (missing_data[column].value_counts())
    print("")

In [ ]:
df.info()