<a href="https://colab.research.google.com/github/anjana-reddy/ML-projectss/blob/main/ML_Data_Formatting_and_Data_Binning_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [ ]:
df = pd.read_csv('/content/dataset_3.data', names = headers)

In [ ]:
df.head(10)

In [ ]:
# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head(5)

In [ ]:
missing_data = df.isnull()
missing_data.head(5)

In [ ]:
for column in headers:
    print(column)
    print (missing_data[column].value_counts())
    print("")

In [ ]:
avg_norm_loss = df["normalized-losses"].astype('float').mean(axis=0)
print("Average of normalized-losses:", avg_norm_loss)

In [ ]:
df["normalized-losses"].replace(np.nan, avg_norm_loss,inplace = True)

In [ ]:
avg_bore=df['bore'].astype('float').mean(axis=0)
print("Average of bore:", avg_bore)

In [ ]:
df["bore"].replace(np.nan, avg_bore,inplace = True)

In [ ]:
avg_bore=df['stroke'].astype('float').mean(axis=0)
print("Average of stroke:", avg_bore)

In [ ]:
df["stroke"].replace(np.nan, avg_bore, inplace=True)

In [ ]:
avg_horsepower = df['horsepower'].astype('float').mean(axis=0)
print("Average horsepower:", avg_horsepower)

In [ ]:
df['horsepower'].replace(np.nan, avg_horsepower, inplace=True)

In [ ]:
avg_peakrpm=df['peak-rpm'].astype('float').mean(axis=0)
print("Average peak rpm:", avg_peakrpm)

In [ ]:
df['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True)

In [ ]:
df['num-of-doors'].value_counts()

In [ ]:
df['num-of-doors'].value_counts().idxmax()

In [ ]:
#replace the missing 'num-of-doors' values by the most frequent
df["num-of-doors"].replace(np.nan, "four", inplace=True)

In [ ]:
# simply drop whole row with NaN in "price" column
df.dropna(subset=["price"], axis=0, inplace=True)

# reset index, because we droped two rows
df.reset_index(drop=True, inplace=True)

In [ ]:
missing_data = df.isnull()
missing_data.head(5)

for column in headers:
    print(column)
    print (missing_data[column].value_counts())
    print("")

In [ ]:
df.info()

In [ ]:
to_float = ["bore", "stroke","peak-rpm","price","normalized-losses"]
df[to_float] = df[to_float].astype("float")

In [ ]:
df.info()

In [ ]:
df["horsepower"]=df["horsepower"].astype(float)

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
plt.pyplot.hist(df["horsepower"])

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

In [ ]:
bins = np.linspace(min(df["horsepower"]), max(df["horsepower"]), 4)
bins

In [ ]:
group_names = ['Low', 'Medium', 'High']

In [ ]:
df['horsepower-binned'] = pd.cut(df['horsepower'], bins, labels=group_names,include_lowest = True)
df[['horsepower','horsepower-binned']].head(20)

In [ ]:
df["horsepower-binned"].value_counts()

In [ ]:
%matplotlib inline
import matplotlib as plt
from matplotlib import pyplot
pyplot.bar(group_names, df["horsepower-binned"].value_counts())

# set x/y labels and plot title
plt.pyplot.xlabel("horsepower")
plt.pyplot.ylabel("count")
plt.pyplot.title("horsepower bins")

In [ ]:
import matplotlib.pyplot as plt
from matplotlib import pyplot as plt

# Assuming 'group_names' and 'df["horsepower-binned"]' are defined in your code
group_names = ...
df_horsepower_binned = df["horsepower-binned"]

# Count the occurrences of each unique value in the "horsepower-binned" column
counts = df_horsepower_binned.value_counts()

# Plot a pie chart
plt.pie(counts, labels=counts.index, autopct='%1.1f%%', startangle=90)

# Set the aspect ratio to be equal, so the pie will be circular
plt.axis('equal')

# Set the title
plt.title('Horsepower Distribution')

# Show the pie chart
plt.show()